
body{
    background:lime;
}

#container{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:5%;
}

#container2{
    display:flex;
    justify-content: center;
    align-items:center;
   
}
#container3{
    display:flex;
    justify-content: center;
    align-items:center;
   
}
#container4{
    display:flex;
    justify-content: center;
    align-items:center;
   
}
#container5{
    display:flex;
    justify-content: center;
    align-items:center;
   
}
#container6{
    display:flex;
    justify-content: center;
    align-items:center;
   
}



#box1{
    height:50px;
    width:50px;
    border:1px solid black;
   
}
#box2{
   
    height:50px;
    width:50px;
    border:1px solid black;
}
.box1{
    background:white;
    float:left;
    height:50px;
    width:50px;
    border:1px solid black;
}
.box2{
   float:left;
    height:50px;
    width:50px;
    border:1px solid black;
    background:white;
}
.box3{
    background:white;
    float:left;
     height:50px;
     width:50px;
     border:1px solid black;
 }
 .box4{
    background:white;
    float:left;
     height:50px;
     width:50px;
     border:1px solid black;
 }
 .box5{
    background:white;
    float:left;
     height:50px;
     width:50px;
     border:1px solid black;
 }
 .box6{
    background:white;
    float:left;
     height:50px;
     width:50px;
     border:1px solid black;
 }

.titlu{
    text-align: center;
    font-size: 60px;
    font-family: 'Carter One', cursive;
    margin-top:3%;
}
#butoane{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
   
}
button{
    font-size:15px;
    font-weight:bold;
    width:7%;
    margin-right:18px;
    border-radius:6px;
    border:white;
}
#red{
    background:red;
    color:white;
}
#blue{
    background:blue;
    color:white;
}
#yellow{
    background:yellow;
    color:white;
}

#play{
    display:flex;
    justify-content:center;
    text-align:center;

}
#PN{
    font-size:15px;
    font-weight:bold;
    width:7%;
    margin-right:18px;
    border-radius:6px;
    border:white;
    background:black;
    color:white;
    margin-top:3%;
}